<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
crossorigin="anonymous">
<body>
<div class="container">
	<div align="center">
		<div sec:authorize="!isAuthenticated()">
		<a th:href="@{/login}"
		   class="btn btn-primary">Login</a>
		</div>
		<div sec:authorize="isAuthenticated()">
			<form method="post" th:action="@{/logout}">
			<input type="submit"
			   class="btn btn-primary" value="Logout" />
			</form>
		</div>
	<br><br>
	<font size="5">Books</font>
	<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody id="booksBlock">
	</tbody>
	</table>
	<div sec:authorize="hasAuthority('ADMIN')">
		Name:
		<input type="text" class="form-control" placeholder="Book name" id="bookNameInput" required="required">
		<button class="btn btn-primary" onclick="addBook()">Add</button>
	</div><br><br><br>

	<font size="5">Book parameters</font>
	<table class="table">
		<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Value</th>
			<th scope="col">Action</th>
		</tr>
		</thead>
		<tbody id="booksParamsBlock">
		</tbody>
	</table>
		<br><br>
	<div sec:authorize="hasAuthority('ADMIN')">
		Book: <br>
		<div id="addParamFormBookRadioList">
		</div>
		Name:
		<input type="text" class="form-control" placeholder="Name" id="paramNameInput" required="required">
		Value:
		<input type="text" class="form-control" placeholder="Value" id="paramValueInput" required="required">
		<button class="btn btn-primary" onclick="addParam()">Add</button>
	</div>

	<br><br><br><br><br><br>
	<font size="5">Languages</font>
		<input class="form-control mr-sm-2" type="text" placeholder="Substring"
			   aria-label="Search" id="showLocalInput">
	<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Abbreviation</th>
			<th scope="col">Number of localized books</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody id="langBlock">

	</tbody>
	</table>

	<div sec:authorize="hasAuthority('ADMIN')">
	Abbreviation:
	<input type="text" class="form-control" placeholder="Abbreviation" id="languageAbbInput" required="required">
	<button class="btn btn-primary" onclick="addLang()">Add</button>
	</div>

	<br><br><br><br><br><br>
	<font size="5">Localization</font>
	<table class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Book</th>
			<th scope="col">Language</th>
			<th scope="col">Value</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody id="localsBlock">
		<th:block th:each="localization : ${localizations}">
		<tr>
			<td><th:block th:text="${localization.id}"/></td>
			<td><th:block th:text="${localization.book.name}"/></td>
			<td><th:block th:text="${localization.language.abbreviation}"/></td>
			<td><th:block th:text="${localization.value}"/></td>
			<td>
				<div sec:authorize="hasAuthority('ADMIN')">
				<a th:href="@{/deleteLocalization?id={id} (id=${localization.id})}"
					class="btn btn-danger">Delete</a>
				</div>
			</td>
		</tr>
		</th:block>
	</tbody>
	</table>
	<div sec:authorize="hasAuthority('ADMIN')">
	Book: <br>
	<div id="bookRadioList">
	</div>
	Language: <br>
	<div id="langRadioList">
	</div>
	Value:
	<input type="text" class="form-control" placeholder="Value" id="localizationValueInput" required="required">
	<button class="btn btn-primary" onclick="addLocal()">Add</button>
	</div>
	</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>

